<%= provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag(sessions_path) do |f| %>

      <%= label :session, :email %>
      <%= text_field :session, :email %>
      
      <%= label :session, :password %>
      <%= password_field :session, :password %>

      <%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>

    <% end %>

    <p>New user? <%= link_to "Sign up", signup_path %></p>
  </div>
</div>