<div class='row'>
  <aside class='span4'>
    <section id="home_user_info"><%= render 'shared/user_info' %></section>
    <section id="home_micropost_form"><%= render 'shared/micropost_form' %></section>
    <span id="count_char" class="alert" > <%= count_char(0, 140) %> </span>
  </aside>
  <div class='span8'>
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>