<li>
  <span class="content"><%= wrap micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <%= delete_link_for_micropost(micropost) %>
</li>