<% if @micropost.errors.any? %>
	$("#home_micropost_form").html("<%= j render 'shared/micropost_form' %>")
	$("#micropost_content").keyup(function(e){
    count = count_char()
    if(count >= 0){
      $("#count_char").html(count + " character(s) left.")
      $("#micropost_content").parent('div').removeClass('field_with_errors')      
      $("#count_char").removeClass("alert-error")
      $("#error_explanation").remove()
    }
    else{
      $("#count_char").html("Limit of character(s) exceded.")          
    }
  })

  count_char = function(){
    count = $("#micropost_content").val().length
    return count = 140 - count
  }

<% else %>
	// Quando criar o micropost com sucesso...
  window.location.replace("/")





<% end %>